<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Mi nombre es Diego y soy nuevo en el mundo de la programacion, estoy aprendiendo varios tipos de herramientas para el desarrollo de Apis web y de escritorio,
          tanto para el backEnd y el FrontEnd podria decir que estoy aprendiendo de todo un poco.</p>
      </div>
      <div class="col-lg-4">
        <p>tengo interes en seguir desarrollando habilidades en el campo de la programacion y para ello estoy dispuesto a aceptar desafios en ambientes laborales donde busquen capacitar y colaborar con desarrolladores trainee </p>
      </div>
     
      </div>
    </div>
  </div>
</section>
